<h1>Not Logged In</h1>
<div class="white-section">
    <p>
        You are not logged in. If you would like to create an archive, please
        <a href="/users/sign_in">login</a> or
        <a href="/users/sign_up">create an account</a> if you do not have one.
    </p>
</div>
